<section id="fediverse" class="download bg-primary text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <h2 class="section-heading">Joyful Creation Beyond The App</h2>
              <p>Tapping Deep Into The Fediverse • A Peopleverse Invites Us To Explore</p>
          </div>
      </div>
  </div>
</section>

<section class="highlights">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-heading">
          <h2>We Innovate Social Web Development</h2>
          <h3 class="text-muted">Creating social experiences should be fun and as easy as possible.</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="feature-item">
          <h3 style="color: #f90;">Social Design Process</h3>
          <p class="text-muted">
            Free Software projects are generally strong in technical areas, but weak in other aspects of the Free Software
            Development Lifecycle. Solidground offers creators and clients a holistic approach to solution design,
            that is inclusive and driven by needs. Social experience design is a key innovation area. Any interaction
            of people online involves social networking and offers the opportunity to be supported by a delightful experience.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-item margin-small">
          <div class="feature-img">
            <img src="/img/social/fediverse-logo.svg"/>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-item">
          <h3 style="color:#069;">App Free Computing</h3>
          <p class="text-muted">
            Web 2.0 has matured into a conglomeration of countless "Apps". In theory it is open and participatory,
            but in practice apps serve as siloes that lock us in and offer overlapping
            features. App-based compartmentalization restricts the Social Web. Solidground researches the
            paradigm of App Free Computing where social experiences are crafted from composable building
            blocks and interoperable services.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="text-muted">"Reimagine Social". Envision a Fediverse that supports deeply social human interactions.</h3>
        <a target="_blank" href="https://fedi.foundation/2022/09/social-networking-reimagined/" style="margin-top: 50px;" class="btn btn-outline btn-xl">Imagine A Peopleverse</a>
      </div>
    </div>
  </div>
</section>