<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Social Experience Design for the Fediverse.">
    <meta name="author" content="Arnold Schrijver">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  {% if page.canonical_url %}
    {%- assign canonical_url = page.canonical_url %}
  {% else %}
    {%- assign canonical_url = page.url | replace: "index.html", "" | absolute_url %}
  {% endif %}

    <!-- SEO -->
    <link rel="canonical" url="{{ canonical_url }}">
    <meta property="og:image" content="/img/logo/solidground-ogimage-1280x640.png">
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />
    <meta property="og:url" content="{{ canonical_url }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Social Experience Design for the Fediverse.">
    <meta property="og:locale" content="en_US">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://solidground.work/img/logo/solidground-ogimage-1280x640.png">
    <meta name="twitter:image:alt" content="Solidground • Groundwork">
    <meta name="twitter:title" content="Solidground" />
    <meta name="twitter:description" content="Social Experience Design for the Fediverse." />

    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS
    <link rel="stylesheet" href="css/main.css" type="text/css"> -->
    <link href="/css/main.css" rel="stylesheet">

</head>
