<section id="core-values">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">We Are Deeply Thankful To Our Supporters</h2>
            <br /><br />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 text-center">
            <div class="value-box">
              <a href="https://europa.eu" alt="European Commission" title="This project has received funding from the European Union’s H2020 research and innovation programme under Grant Agreement no 871498."><img src="/img/logo/EU_emblem.jpg" width="30%"></a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 text-center">
            <div class="value-box">
              <a href="https://ngi.eu" alt="Next Generation Internet" title="This project has been a proud participant of the DAPSI Program Round 3 under the project name of 'Groundwork'."><img src="/img/logo/Logo-NGI_Acronym-with-baseline-rbg.png" width="35%"></a>
            </div>
        </div>
    </div>
  </div>
</section>